.bootstrap-context .uib-datepicker .uib-title {
  width: 100%;
}

.bootstrap-context .uib-day button, .uib-month button, .uib-year button {
  min-width: 100%;
}

.bootstrap-context .uib-left,.bootstrap-context .uib-right {
  width: 100%
}
