.aui .bootstrap-context .uib-datepicker .uib-title {
  width: 100%;
}

.aui .bootstrap-context .uib-day button, .aui .bootstrap-context .uib-month button, .aui .bootstrap-context .uib-year button {
  min-width: 100%;
}

.aui .bootstrap-context .uib-left, .aui .bootstrap-context .uib-right {
  width: 100%
}
