.aui .bootstrap-context [uib-tooltip-popup].tooltip.top-left > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.top-right > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.left-top > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.right-top > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.top-left > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.top-right > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.bottom-left > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.bottom-right > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.left-top > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.left-bottom > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.right-top > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-html-popup].tooltip.right-bottom > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.top-left > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.top-right > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.bottom-left > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.bottom-right > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.left-top > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.left-bottom > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.right-top > .tooltip-arrow,
.aui .bootstrap-context [uib-tooltip-template-popup].tooltip.right-bottom > .tooltip-arrow,
.aui [uib-popover-popup].bootstrap-context.popover.top-left > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.top-right > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.bottom-left > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.bottom-right > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.left-top > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.left-bottom > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.right-top > .arrow,
.aui [uib-popover-popup].bootstrap-context.popover.right-bottom > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.top-left > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.top-right > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.bottom-left > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.bottom-right > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.left-top > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.left-bottom > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.right-top > .arrow,
.aui [uib-popover-html-popup].bootstrap-context.popover.right-bottom > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.top-left > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.top-right > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.bottom-left > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.bottom-right > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.left-top > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.left-bottom > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.right-top > .arrow,
.aui [uib-popover-template-popup].bootstrap-context.popover.right-bottom > .arrow {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin: 0;
}

.aui .bootstrap-context [uib-popover-popup].bootstrap-context.popover,
.aui .bootstrap-context [uib-popover-html-popup].bootstrap-context.popover,
.aui .bootstrap-context [uib-popover-template-popup].bootstrap-context.popover {
  display: block !important;
}
